.form-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  margin: 0 40px 6px;
  padding-right: 8px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
}

.form-label {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  background-color: #fafafa;
  color: #262626;
  font-size: 14px;
  position: relative;
  width: 100%;
  height: 36px;
}

.form-placeholder {
  color: #8e8e8e;
  font-size: 12px;
  line-height: 36px;
  left: 8px;
  position: absolute;
  transition: transform ease-out 0.1s, -webkit-transform ease-out 0.1s;
  transform-origin: left;
}

.placeholder-up {
  transform: scale(0.83333) translateY(-10px);
}

.focus-input {
  font-size: 12px;
  padding: 14px 0 2px 8px !important;
}

.label-input {
  padding: 9px 0 7px 8px;
  background-color: #fafafa;
  border: 0;
  flex: 1 0 auto;
  -webkit-box-flex: 1;
  line-height: 18px;
}

.label-input:focus {
  border: 0;
  outline: none;
}

.focus-div {
  border: 1px solid #a8a8a8;
}

.password-btn {
  padding: 0 0 0 8px;
  border: 0;
  outline: 0;
  color: #262626;
  background-color: transparent;
  font-weight: 600;
  text-align: center;
}

.input-mark {
  margin-left: 8px;
  width: 21px;
  height: 21px;
}

.check-icon-size {
  width: 22px !important;
  height: 22px !important;
}

.color-red {
  color: rgb(238,45,62);
}

.color-gray {
  color: rgb(165, 165, 165);
}